﻿@model MyASPApp.Models.Product

@{
    ViewBag.Title = "Feedbacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial( "ProductHeader", Model )

@foreach (var feedback in Model.Feedbacks)
{
    <div class="row">
        <h2>@feedback.FeedbackTitle</h2>
        <p class="text-muted pull-left">@feedback.DateTime.Date by <a href="#" class="text-info">@feedback.ApplicationUser.UserName</a></p>
        <p class="text-center">@feedback.FeedbackText</p>
    </div>
    <hr/>
}

<form class="form-horizontal">
    <fieldset>
        <legend>Ваш отзыв</legend>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Ваш отзыв</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="titleArea" class="col-lg-2 control-label">Шапка отзыва</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="titleArea">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>