﻿@using MyASPApp.Models
@model SubCategory
@{
    ViewBag.Title = Model.Name;
}

<ul class="nav nav-tabs" role="tablist">
    <li><a href="\Products\ProductsTable?subcategoryId=@Model.Id">Табличный вид</a></li>
    <li class="active"><a href="\Products\ProductsList?subcategoryId=@Model.Id">В строчку</a></li>
</ul>
<div class="tab-content">
    <table class="table">
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>-</td>
                    <td><img data-src="holder.js/100%" alt="100%" src="@product.ImagePath" style="height: 100px; width: 100px; display: block;"></td>
                    <td>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12"><a href="/Products/product?productId=@product.Id"><h4>@product.Name</h4></a></div>
                            </div>
                            <div class="row">
                                <h5>@product.Description</h5>
                            </div>
                            <div class="row pull-left">
                                <div class="col-md-4">
                                    <a href="#"><p>обсуждения</p></a>
                                </div>
                                <div class="col-md-4">
                                    <p>Отзывы</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Рейтинг</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>От @product.ProductsPrices.Min(pp => pp.Price) у.е. до @product.ProductsPrices.Max(pp => pp.Price) у.е.</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>От @product.ProductsPrices.Count продавцов</h6>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>