﻿@using System.Web.Razor.Parser
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@using MyASPApp.Models
@model Product

<div class="row">
    <div class="col-md-9">
        
        @Html.Partial("ProductHeader", Model)
        
        <br/>
        <table class="table">
            <tbody>
                @foreach (var attrVal in Model.AttrValues)
                {
                    <tr>
                        <td><h5>@attrVal.Attribute.AttrName</h5></td>
                        <td><h6>@attrVal.Value</h6></td>
                    </tr>
                }    
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
        <ul class="list-group">
            @foreach (var pps in Model.ProductsPrices)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#"><img class="img-responsive" data-src="holder.js/100%x150" alt="100%x150" src="@pps.Store.ImagePath"></a>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-primary">Рейтинг : @pps.Store.Rate</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-primary text-center">@pps.Price у.е.</h4>
                            <h6 class="text-muted text-center">@pps.Price * @pps.Store.ExchangeRate</h6>
                        </div>
                        <div class="col-md-6">
                            @foreach (var phone in pps.Store.Phones)
                            {
                                <h6 class="text-success">@phone.PhoneNumber</h6>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>    
</div>
