﻿@model MyASPApp.Models.SubCategory
@{
    ViewBag.Title = "ProductsTable";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="\Products\ProductsTable?subcategoryId=@Model.Id">Табличный вид</a></li>
    <li><a href="\Products\ProductsList?subcategoryId=@Model.Id">В строчку</a></li>
</ul>

<div class="tab-content">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <h3>@product.Name</h3>
                    <img class="img-responsive" data-src="holder.js/100%x150" alt="100%x150" src="@product.ImagePath">
                </div>
            </div>
        }
    </div>
</div>