﻿<div class="container">
    <div class="row">
        <div class="col-md-12 pull-left"><h1>@Model.Name</h1></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img alt="100%" src="@Model.ImagePath">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 pull-left"><h3>Рейтинг: @Model.Rating</h3></div>
            </div>
            <div class="row">
                <h5>@Model.Description</h5>
            </div>
            <div class="row">
                <div class="col-md-5"><h3>@Model.ProductsPrices.Min(pp => pp.Price) у.е. - @Model.ProductsPrices.Max(pp => pp.Price) у.е.</h3></div>
                <div class="col-md-2"><h5 class="text-muted pull-left">От @Model.ProductsPrices.Count(pp => pp.Product.Id == Model.Id) продавцов.</h5></div>
            </div>
            <div class="row pull-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Обсуждения</button>
                    <button type="button" class="btn btn-default">Отзывы</button>
                    <button type="button" class="btn btn-default">Описание</button>
                </div>
            </div>
        </div>
    </div>
</div>
