﻿@using MyASPApp.Models
@model ICollection<Category>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-10">
            <div class="row">
                @foreach (var category in Model)
                {
                    <div class="col-xs-6 col-md-4 col-lg-3">
                        <div class="thumbnail">
                            <h3>@category.Name <sup><span class="badge">@ViewBag.ProdCountByCategory[category.Id]</span></sup></h3>
                            <img data-src="holder.js/100%x150" alt="100%x150" src="#" style="height: 150px; width: 100%; display: block;">
                            <div class="caption">
                                <p>
                                    <ul class="list-group">
                                        @foreach (var subcategory in category.SubCategories)
                                        {
                                            <li class="list-group-item">
                                                <a href="/Products/ProductsList?subcategoryId=@subcategory.Id">
                                                    @subcategory.Name
                                                    <span class="badge">@subcategory.Products.Count</span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                }
            </div><!--/row-->
        </div><!--/span-->
        <div class="col-sm-3 col-md-2" id="sidebar" role="navigation">
            <div class="list-group">
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>
        </div><!--/span-->
    </div><!--/row-->
</div>