﻿@{
    ViewBag.Title = "Подкатегория";
}
@using MyASPApp.Models
@model ICollection<SubCategory>

<h2>Подкатегория</h2>

<div class="col-md-4">
    @foreach (var subcategory in Model)
    {
    <h4>@subcategory.Name</h4>
    <table>
        <tbody>
            @foreach (var product in subcategory.Products)
            {
                <tr><td><a href="/Home/Product?productId=@product.Id">@product.Name</a></td></tr>
            }
        </tbody>
    </table>
    }

</div>